#!/bin/bash
#
# Source(s): 
#   https://www.robpeck.com/2018/06/backing-up-and-rotating-mysql-databases-the-easy-way/
#   https://tecadmin.net/delete-files-older-x-days/

MYSQL_ARGS="--defaults-extra-file=/root/.my.cnf"
MYSQL="/usr/bin/mysql $MYSQL_ARGS"
MYSQLDUMP="/usr/bin/mysqldump $MYSQL_ARGS"
DEST="/opt/backup/mysql"
RETENTION=7


# Put databases in array except system databases
readarray -t DBLIST < <($MYSQL -BNe "show databases" | egrep -v '(mysql|.*_schema|sys)' )

for DB in "${DBLIST[@]}"
do
   : 
   # Print database to screen 
   echo Back-up in progress for database $DB

   # Backup database
   $MYSQLDUMP $DB | gzip -9 -c > $DEST/$DB-`date +%Y%m%d-%H%M`.sql.gz

done

# Remove backups when retention is overdue.
find $DEST -name "*.sql.gz" -type f -mtime +$RETENTION -exec rm -f {} \;
