#!/bin/bash
#
# Source(s): 
#   https://www.robpeck.com/2018/06/backing-up-and-rotating-mysql-databases-the-easy-way/

MYSQL_ARGS="--defaults-extra-file=/root/.my.cnf"
MYSQL="/usr/bin/mysql $MYSQL_ARGS"
MYSQLDUMP="/usr/bin/mysqldump $MYSQL_ARGS"
BACKUP="/opt/backup/mysql"

$P/{}.sql > /dev/null 2>&1 && chmod 640 $BACKUP/*.sql && chgrp backup $BACKUP/*.sql

